* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
}


/* style untuk nav */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
    font-family: 'Cairo', sans-serif;
    background-color: #FFE0D8;
}

.logo {
    text-transform: uppercase;
    color: black;
    letter-spacing: 7px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.5s ease, border-color 0s;
}

.nav-links a:hover {
    border: 1px solid rgb(104, 104, 104);
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.burger {
    display: none;
}

.burger div {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 3px;
    transition: transform 0.5s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #FFE0D8;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
    border-left: rgb(104, 104, 104) 1px dashed;
    border-radius: 15px;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.burClick .line1 {
    transform: rotate(-45deg) translate(-5px, 3px);
}

.burClick .line2 {
    opacity: 0;
}

.burClick .line3 {
    transform: rotate(45deg) translate(-5px, -3px);
}

/* separator */
.separator {
    height: 1px;
    background-color: rgb(104, 104, 104);
}

/* style untuk section pertama */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 784px;
    background-color: #FFE0D8;
}

section * {
    margin: 20px 20%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    section * {
        margin: 20px 10%;
    }
}

section img {
    margin: 40px 20%;
    max-width: 100px;
    max-height: 100px;
}

section h1 {
    font-size: 50px;
    font-weight: bolder;
}

section .byme {
    font-weight: bold;
    letter-spacing: 1px;
}