* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    letter-spacing: 2px;
}


/* style untuk nav */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
    font-family: 'Cairo', sans-serif;
    background-color: #FFE0D8;
}

.logo {
    text-transform: uppercase;
    color: black;
    letter-spacing: 7px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.5s ease, border-color 0s;
}

.nav-links a:hover {
    border: 1px solid rgb(104, 104, 104);
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.burger {
    display: none;
}

.burger div {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 3px;
    transition: transform 0.5s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #FFE0D8;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
    border-left: rgb(104, 104, 104) 1px dashed;
    border-radius: 15px;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.burClick .line1 {
    transform: rotate(-45deg) translate(-5px, 3px);
}

.burClick .line2 {
    opacity: 0;
}

.burClick .line3 {
    transform: rotate(45deg) translate(-5px, -3px);
}

/* separator */
.separator {
    height: 1px;
    background-color: rgb(104, 104, 104);
}

/* style untuk section pertama */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFE0D8;
    font-family: 'Cairo', sans-serif;
}

section * {
    margin: 20px 20%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    section * {
        margin: 20px 10%;
    }
}

section img {
    margin-top: 100px;
    margin-bottom: 30px;
    max-width: 100px;
    max-height: 100px;
}

section h1 {
    font-size: 50px;
    font-weight: bolder;
}

section .byme {
    font-weight: bold;
    letter-spacing: 1px;
}

section .note {
    margin-top: 100px;
    position: relative;
    letter-spacing: 1px;
    font-size: 14px;
}

/* Style untuk section ke dua */

.sec2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 300px;
    font-family: 'Patrick Hand', cursive;
    word-spacing: 5px;
}

.sec2>div {
    height: 632px;
}

.sec2 .middle {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    align-items: center;
    line-height: 40px;
}

.sec2 .middle p {
    max-width: 740px;
    text-align: center;
    font-size: 25px;
}

.sec2 .quote {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    line-height: 35px;
    font-size: 23px;
}

.sec2 .quote div {
    max-width: 480px;
}

.sec2 .quote div h2 {
    font-size: 47px;
    line-height: 50px;
}

.sec2 .quote div img {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 30px;
}

.sec2 .left div {
    margin-left: 94px;
}

.sec2 .right {
    margin-left: 750px;
}

.sec2 .right div {
    max-width: 520px !important;
}

/* Style untuk Section 3 */

.sec3 {
    padding: 20px 50px;
    margin-bottom: 300px;
}

.sec3 .bigcard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 80px 60px 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px -2px rgb(153, 153, 153);
}

.sec3 .bigcard img {
    max-width: 250px;
    max-height: 750px;
    margin: 60px 0 20px 0;
    border-radius: 30px;
}

.sec3 .bigcard h2 {
    font-size: 27px;
    margin-bottom: 150px;
}

.sec3 .bigcard p {
    text-align: justify;
    text-indent: 60px;
}

/* separator */
.separator {
    height: 1px;
    background-color: rgb(104, 104, 104);
}

/* style untuk footer */

footer div {
    text-align: center;
    font-size: 14px;
    margin: 20px;
    font-family: 'BioRhyme', serif;
}

footer #copyright {
    font-size: 17px;
    font-family: 'BioRhyme', serif;
}